:root {
    --primary-color: #d9d9d9;
    --secondary-color: #ffffff;
    --tertiary-color: #57B2F3;
    --quaternary-color: #A2A6A8;
}

html,
body {
    /* border: solid 2px pink; */
    height: 100%;
    margin: 0;
}

/* div {
    border: solid 2px black;
} */

.cabecalho {
    display: flex;
    /* border: solid 2px yellow; */
    top: 0;
    height: 55px;
    right: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: sticky;
    background-color: var(--primary-color);
    z-index: 2;
}

.menu {
    /* border: solid 2px green; */
    background-color: var(--primary-color);
    width: 0;
    bottom: 0px;
    top: 0px;
    position: fixed;
    right: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    z-index: 1;
}

.conteudo {
    /* border: solid 2px blue; */
    text-align: center;
    line-height: 60px;
    background-color: var(--secondary-color);
}

.rodape {
    position: absolute;
    /* border: solid 2px red; */
    top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    height: 50px;
    text-align: right;
    line-height: 50px;
    z-index: 2;
}

.janela {
    border: solid 2px black;
    min-height: 100%;
    margin-bottom: -50px;
}

.home-title {
    font-size: 30px;
}

.header-hamburguer-menu {
    padding: 2px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* right: 0; */
}

.etransporte-header-icon {
    padding: 2px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* left: 0; */
}

.spacer {
    flex: 1;
}

.spacer-column {
    /* flex: 1; */
    flex-direction: column;
}